<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>Document</title>
</head>

<body>
  <br>
  <h1>네이버 뉴스 데이터 수집 모니터링</h1>
  <br>
  <p id="date"></p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>신문사명</th>
        <th>기사제목</th>
        <th>작성일</th>
      </tr>
    </thead>
    <tbody id="news-box">
      </div>
      <script>
        const eventSource = new EventSource("http://localhost:8080/news");
        eventSource.onmessage = (event) => {
          //console.log(event.data);
          naverNews = JSON.parse(event.data);
          //console.log(naverNews);

          let date = new Date(naverNews.createdAt);

          function getDay(date) {
            let nYear = date.getFullYear();
            let nMonth = date.getMonth() + 1;
            let nDate = date.getDate();
            let nHours = date.getHours();
            let nMinutes = date.getMinutes();

            if (nMinutes < 10) { nMinutes = "0" + nMinutes };

            return nYear + "-" + nMonth + "-" + nDate + " " + nHours + ":" + nMinutes;

          }

          $("#news-box").append("<tr>" + "<td>" + naverNews.company + "</td>" + "<td>" + naverNews.title + "</td>" + "<td>" + getDay(date) + "</td>" + "</tr>");

        }
      </script>
</body>

</html>